services:
  - type: web
    name: nawafeth-backend
    runtime: python
    plan: free
    rootDir: backend
    buildCommand: bash scripts/render_build.sh
    startCommand: bash scripts/render_start.sh
    autoDeployTrigger: commit
    healthCheckPath: /health/live/
    envVars:
      - key: DJANGO_ENV
        value: prod
      - key: DJANGO_DEBUG
        value: "0"
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_ALLOWED_HOSTS
        value: "127.0.0.1,localhost,.onrender.com"
      - key: DATABASE_URL
        fromDatabase:
          name: nawafeth-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          name: nawafeth-redis
          type: keyvalue
          property: connectionString

  - type: keyvalue
    name: nawafeth-redis
    plan: free
    ipAllowList: []

databases:
  - name: nawafeth-db
    plan: free
    ipAllowList: []
